<div class="container">
  <div class="row mt-4 pl-4">
    <h4>
      <span class="border px-3" style="background-color: #f5f5f5;">配送先登録/一覧</span>
    </h4>
  </div>
  
  <%= form_with model: Address.new, url: addresses_path, method: :post do |f| %>
</div>